@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --modal-duration: 1s;
  --grey: #eee;
}

#app {
  transition: transform 0.3s ease;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

#app.show-nav {
  transform: translateX(200px);
  width: calc(100% - 200px);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
  background: var(--grey);
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal.active {
  display: block;
}

.modal__container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
