@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --success-color: green;
  --error-color: red;
}

small {
  height: 0;
  width: 0;
  visibility: hidden;
}

.error input {
  border-color: var(--error-color);
}

.success input {
  border-color: var(--success-color);
}

.error small {
  color: var(--error-color);
  visibility: visible;
}

.success small {
  color: var(--success-color);
  visibility: hidden;
}
