@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #0095dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  background: #f0f0f0;
}
