@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

$sm: "only screen and (min-width: 40rem)";
$link: #204572;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
}

.header {
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  &::before {
    position: absolute;
    display: block;
    content: "";
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent url(./bg.jpg) no-repeat center/cover;
  }
}

.text {
  position: relative;
  z-index: 2;
  padding: 1rem;
  color: white;
  text-align: center;
  text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.75);
}

.h1 {
  margin: 0 0 0.5rem;
  padding: 0;
  font-size: 3rem;
}

.h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.main {
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;

  @media #{$sm} {
    max-width: 35rem;
  }
}

.blockquote {
  margin: 2rem 0;
  padding: 0;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.45;
  transition: all 0.4s ease;

  &:hover {
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.15);
  }

  @media #{$sm} {
    border: 0.1rem solid grey;
    border-radius: 0.4rem;
    padding: 2rem;
  }
}

.cite {
  display: block;
  margin: 1rem 0 0;
}

a {
  color: $link;
  text-decoration: none;
}
