@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.box {
  background: #eee;
}

.box:hover {
  cursor: pointer;
}